# ignore ALL .log files
*.log

# ignore ALL .log files
./Utilities/Output/

# ignore ALL files in ANY directory named __PYCACHE__
__pycache__/

# ignore these files in the root directory
inputZonotope.txt
MatlabNLRunInterface.py